* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #0f942c;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
/* Header Section Start*/
header {
    display: flex;
    padding: 20px 35px 20px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* image credit to unsplash.com user @nicolasarnold */
    background-image: url(../images/header-back.jpg);
    background-size: cover;
}
header h1 {
    font-size: 36px;
    padding: 20px 35px;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav {
    margin: 35px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
}
/* Header Section End */
/* Banner/Hero Section Start */
.banner {
    display: flex;
    background-color: black;
    justify-content: space-between;
}
.banner-first {
    margin: 5px 0;
    padding: 15px;
    background-size: cover;
    font-family: Garamond;
    color: white;
}
.banner-last {
    margin: 9px 0;
    padding: 15px;
    font-family: monospace;
    color: #00ff37;
}
/* Banner/Hero Section End */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding: 0px;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    header nav {
        margin: 5px;
    }
    header nav ul {
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .banner {
        flex-wrap: wrap;
        font-size: 80%;
        justify-content: center;
    }
    .banner-first {
        margin: 0px;
        padding: 5px;
    }
    .banner-last {
        margin: 0px;
        padding: 5px;
    }
}