* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #00ff37;
    --tertiary-color: #000000;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
/* Header Section Start*/
header {
    display: flex;
    padding: 20px 35px 20px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* image credit to unsplash.com user @nicolasarnold */
    background-image: url(../images/header-back.jpg);
    background-size: cover;
}
header h1 {
    font-size: 36px;
    padding: 20px 35px;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav {
    margin: 35px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-size: 1.75vw;
}
header nav ul li a {
    padding: 10px 15px;
}
header nav ul li a:hover {
    background-color: var(--tertiary-color);
}
/* Header Section End */
/* Banner/Hero Section Start */
.banner {
    display: flex;
    background-color: var(--tertiary-color);
    justify-content: space-between;
}
.banner-first {
    margin: 5px 0;
    padding: 15px;
    font-family: Garamond;
    color:var(--primary-color);
}
.banner-last {
    margin: 9px 0;
    padding: 15px;
    font-family: monospace;
    color: var(--secondary-color);
}
/* Banner/Hero Section End */
/* About Me Section Begin */
.about-me {
    display: flex;
}
.flex-row {
    width: 35%;
    margin: auto;
    padding: 5px;  
    text-align: center;
}
.about-me-text {
    text-align: center;
    padding: 20px;
    margin: auto;
}
.profile {
    margin: 10px;
    display: flex;
}
/* About Me Section End */
/* My Work Section Begin */
.my-work {
    display: flex;
}
.most-recent {
    width: 120em;
    padding: 240px 70px 40px 0px;
    margin-right: 10px;
    background-image: url(../images/quest-board.PNG);
    background-size: cover;
}
.work-card-text {
    width: 15em;
    font-family: monospace;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}
.work-card-text a {
    text-decoration: none;
    color: var(--secondary-color);
}
.work-card-text h3 {
    font-size: 24px;
}
.work-card-text p {
    font-size: 16px;
}
.secondary {
    margin: 10px;
}
.secondary-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.secondary-work-card {
    margin: 10px;
    padding: 200px 200px 10px 0px;
    background-image: url(../images/run-buddy.PNG);
    background-size: cover;
    background-position: bottom;
}
.tertiary-work-card {
    margin: 10px;
    padding: 200px 200px 10px 0px;
    background-image: url(../images/peregrinate.PNG);
    background-size: cover;
    background-position: bottom;
}
.default-work-card {
    margin: 10px;
    padding: 200px 200px 10px 0px;
    /* image credit to unsplash.com user @popnzebra */
    background-image: url(../images/construction.jpg);
    background-size: cover;
    background-position: bottom;
}
/* My Work Section End */
/* Contact Me Section Start */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--tertiary-color);
    padding: 40px 35px;
}
.contact-me h2 {
    padding-top: 11px;
    color: var(--primary-color);
    margin: 0;
}
.contact-me a {
    text-decoration: none;
    color: var(--secondary-color);
}
.contact-me ul {
    display: flex;
    list-style: none;
    font-size: 1.75vw;
}
.contact-me ul li {
    padding: 10px 15px;
}
.contact-me ul li a:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
/* Contact Me Section End */
/* Utility Start */
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.2); 
}
/* Utility End */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding: 20px 35px;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    header nav {
        margin: 5px;
    }
    header nav ul {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .contact-me {
        padding: 20px 35px;
        justify-content: center;
        position: relative;
    }
    .contact-me h2 {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .contact-me ul {
        width: 100%;
        justify-content: center;
    }
    .contact-me ul li a {
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about-me {
        flex-wrap: wrap;
    }
    .my-work {
        flex-wrap: wrap;
    }
    .flex-row {
        width: 100%;
    }
    .flex-row {
        width: 100%;
        margin: 10px 0px;
    }
    .about-me-text {
        border-left: none;
    }
    .profile {
        justify-content: center;
        flex: 0 100%
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .banner {
        flex-wrap: wrap;
        font-size: 80%;
        justify-content: center;
    }
    .banner-first {
        margin: 0px;
        padding: 5px;
    }
    .banner-last {
        margin: 0px;
        padding: 5px;
    }
    .default-work-card {
        width: 100%;
    }
}